/* 
    Document   : fz_tag
    Created on : 2010-11-16, 20:50:56
    Author     : Grzegorz Śliwiński
    Description:
        Purpose of the stylesheet follows.
*/

ul.fz-tag-cloud
{
    list-style: none;
}

ul.fz-tag-cloud li
{
    display: inline;
}

ul.fz-tag-cloud li.fz-size-1
{
    font-size: 1.4em;
}
ul.fz-tag-cloud li.fz-size-2
{
    font-size: 1.2em;
}
ul.fz-tag-cloud li.fz-size-3
{
    font-size: 1.1em;
}
ul.fz-tag-cloud li.fz-size-4
{
    font-size: 0.9em;
}
ul.fz-tag-cloud li.fz-size-5
{
    font-size: 0.6em;
}